{% extends 'base.html'%}
{%block contenuti%}
<h5>Elenco post:</a></h5>
    {% for post in posts %}
        <p>{{forloop.counter}}) <strong>Titolo: </strong><a href="{% url 'blog:leggi_post' pk=post.id %}">{{ post.titolo }}</a>
            <small>(<a href="{% url 'user_profile' username=post.autore%}">{{ post.autore }}</a> - {{ post.data_creazione }})</small>
        </p>
        <!-- 
        <p><strong>Titolo: </strong><a href="/blog/leggi-post/{{post.id }}">{{ post.titolo }}</a></p>
        <p><strong>Contenuto: </strong>{{ post.contenuto }}</p>
        <p><strong>Bozza: </strong>{{ post.bozza }}</p>
        --> 
        <hr>
    {% endfor %}
{%endblock contenuti%}